.floating-buttons {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  /* Cambiado de column a row */
  gap: 12px;
  align-items: center;
  background-color: #2e2e2e;
  border: 2px solid #F8F4F0;

}

.music-button {
  background-color: #2e2e2e;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-button img {
  width: 100%;
  height: 100%;
}

.cta-button {
  background-color: #2e2e2e;
  color: #F8F4F0;
  border: none;
  border-left: 2px solid #F8F4F0;
  padding: 0.5rem 0.5rem;
  font-family: 'Courier New';
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.cta-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .floating-buttons {
    bottom: 5px;
    right: 5px;
  }
}