.footerContainer {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
    font-family: 'Courier New', Courier, monospace;
}

.footerContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 180px;
    background-image: url(../../media/backgroundImg/brindis-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footerMessage {
    font-size: 1.6rem;
    color: #F8F4F0;
    font-weight: 700;
}

.footerName {
    font-size: 1.6rem;
    color: #F8F4F0;
    font-weight: 700;
    margin-top: 3rem;
    width: 100%;
    text-align: end;
    padding: 0 2rem;
}

@media screen and (max-width: 768px) {
    .footerMessage {
        font-size: 1.2rem;
        text-align: center;
    }

    .footerName {
        font-size: 1.4rem;
    }

    .footerContainer::after {
        display: none;
    }
}